In [16]:
import pandas as pd

raw_data_location='s3://anomaly-detection-team-vypin/PS_20174392719_1491204439457_log.csv'
output_data_location_random_shuffled='s3://anomaly-detection-team-vypin/data.csv'

paysim_df=pd.read_csv(raw_data_location)
paysim_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [17]:
paysim_df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [18]:
paysim_df_reduced=paysim_df.drop(columns=['nameDest','nameOrig'])
paysim_df_reduced.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,0
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,0

In [19]:
paysim_df_hotencoded=pd.get_dummies(paysim_df_reduced)

In [20]:
paysim_df_hotencoded.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,0,0,1,0
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,0,0,1,0
2,1,181.00,181.0,0.00,0.0,0.0,1,0,0,0,0,0,1
3,1,181.00,181.0,0.00,21182.0,0.0,1,0,0,1,0,0,0
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,0,0,1,0

In [21]:
from sklearn.utils import shuffle
paysim_df_shuffled=shuffle(paysim_df_hotencoded)

In [22]:
paysim_df_shuffled.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
3194246,249,13943.45,662.00,0.00,0.00,0.00,0,0,0,0,0,1,0
2133730,183,3407.11,388797.11,385390.00,0.00,0.00,0,0,0,0,0,1,0
2924368,229,192322.43,94004.00,0.00,216766.67,409089.11,0,0,0,1,0,0,0
2716278,211,11709.31,16266.00,4556.69,0.00,0.00,0,0,0,0,0,1,0
4145971,303,6483.12,0.00,0.00,0.00,0.00,0,0,0,0,0,1,0

In [23]:
output_data_location_random_shuffled='./data.csv'
paysim_df_shuffled.insert(0,'label',paysim_df_shuffled['isFraud'])

In [24]:
paysim_df_shuffled.groupby('label').count()
paysim_df_shuffled.drop(columns=['isFraud'])

,label,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
3194246,0,249,13943.45,662.00,0.00,0.00,0.00,0,0,0,0,1,0
2133730,0,183,3407.11,388797.11,385390.00,0.00,0.00,0,0,0,0,1,0
2924368,0,229,192322.43,94004.00,0.00,216766.67,409089.11,0,0,1,0,0,0
2716278,0,211,11709.31,16266.00,4556.69,0.00,0.00,0,0,0,0,1,0
4145971,0,303,6483.12,0.00,0.00,0.00,0.00,0,0,0,0,1,0
2085784,0,182,162551.08,0.00,0.00,1432458.96,1595010.05,0,0,0,0,0,1
3767071,0,280,370872.01,130961.47,0.00,9378544.94,9749416.95,0,0,1,0,0,0
4395582,0,321,49548.77,1760.00,51308.77,0.00,0.00,0,1,0,0,0,0
384854,0,17,383468.09,145822.39,0.00,0.00,383468.09,0,0,1,0,0,0
4147457,0,303,50439.25,34502.00,0.00,0.00,50439.25,0,0,1,0,0,0
3001302,0,232,12648.96,1284.77,0.00,0.00,0.00,0,0,0,0,1,0
1724381,0,160,40904.86,94798.00,135702.86,146370.73,105465.87,0,1,0,0,0,0
3238253,0,250,33711.95,50266.07,16554.11,702708.44,736420.39,0,0,1,0,0,0
2664714,0,210,4852.69,0.00,0.00,0.00,0.00,0,0,0,0,1,0
4098003,0,301,14429.00,378414.99,363985.98,0.00,0.00,0,0,0,0,1,0
3182580,0,239,1710.29,0.00,0.00,0.00,0.00,0,0,0,0,1,0
875211,0,42,119611.42,715450.92,835062.34,370070.94,250459.52,0,1,0,0,0,0
3984156,0,298,14568.07,310131.06,295562.99,0.00,0.00,0,0,0,0,1,0
2686347,0,210,2173.71,0.00,0.00,0.00,0.00,0,0,0,0,1,0
2565518,0,206,12188.11,127294.00,115105.89,0.00,0.00,0,0,0,0,1,0
4291259,0,307,136192.42,0.00,0.00,1222765.34,1358957.76,0,0,1,0,0,0
80288,0,10,16256.80,20842.00,4585.20,0.00,0.00,0,0,0,0,1,0
3092248,0,235,219658.05,0.00,0.00,1757550.20,1977208.25,0,0,0,0,0,1
1750694,0,161,2334.25,0.00,0.00,9519895.74,9522229.99,0,0,1,0,0,0
5684124,0,397,10023.75,211563.00,201539.25,0.00,0.00,0,0,0,0,1,0
2327340,0,188,63781.12,2052.00,65833.12,12512.56,0.00,0,1,0,0,0,0
4293274,0,307,9837.91,0.00,0.00,0.00,0.00,0,0,0,0,1,0
1632190,0,157,418685.60,4798025.88,5216711.48,2604000.98,2185315.38,0,1,0,0,0,0
5498664,0,380,6928.88,0.00,0.00,0.00,0.00,0,0,0,0,1,0
2667216,0,210,5399.99,0.00,0.00,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415587,0,322,413765.02,9021.00,0.00,615533.70,1029298.71,0,0,1,0,0,0
4163498,0,304,85288.98,524593.04,609882.02,2214795.21,2129506.23,0,1,0,0,0,0
3750346,0,279,356617.07,0.00,0.00,3424626.55,3781243.62,0,0,0,0,0,1
1412696,0,139,51835.16,10342.00,62177.16,116594.25,64759.09,0,1,0,0,0,0
1499641,0,143,104961.71,0.00,0.00,114530.73,219492.44,0,0,1,0,0,0
2959858,0,230,475200.24,2044.00,477244.24,14063.16,0.00,0,1,0,0,0,0
2525421,0,205,77030.36,0.00,0.00,1821936.31,1898966.67,0,0,0,0,0,1
4954223,0,351,141361.16,6616121.56,6757482.72,279734.06,138372.89,0,1,0,0,0,0
2148858,0,184,10170.88,9742.00,0.00,562577.68,572748.57,0,0,1,0,0,0
6119302,0,538,236225.43,0.00,0.00,272234.97,508460.40,0,0,1,0,0,0
2494362,0,204,99088.75,803724.00,704635.25,2891276.85,2990365.59,0,0,1,0,0,0
2862271,0,227,5529.69,206013.00,200483.31,0.00,0.00,0,0,0,0,1,0
4719467,0,332,118196.83,77462.00,195658.83,18595.41,0.00,0,1,0,0,0,0
4989290,0,352,47527.92,0.00,0.00,3371311.37,3526667.28,0,0,1,0,0,0
1491317,0,142,219456.86,11675.00,0.00,0.00,219456.86,0,0,1,0,0,0
5854994,0,402,3036.26,85653.00,82616.74,0.00,0.00,0,0,0,0,1,0
4524986,0,326,295038.18,9497.00,0.00,0.00,295038.18,0,0,1,0,0,0
508255,0,20,437631.25,0.00,0.00,822670.24,1260301.49,0,0,1,0,0,0
1060460,0,119,343.12,29787.00,29443.88,0.00,0.00,0,0,0,0,1,0
1794109,0,162,193131.80,455460.72,648592.52,1056363.69,1093377.84,0,1,0,0,0,0
3916186,0,284,108255.34,240.00,0.00,17031606.05,17139861.38,0,0,1,0,0,0
5164767,0,358,5019.95,0.00,0.00,0.00,0.00,0,0,0,0,1,0
3932085,0,285,7092.25,20217.00,13124.75,0.00,0.00,0,0,0,0,1,0
5518295,0,380,79448.60,20145.00,0.00,1656289.95,1735738.55,0,0,1,0,0,0
4718701,0,332,270503.27,254.00,0.00,73309.23,200706.84,0,0,1,0,0,0
496465,0,20,189294.84,7175756.01,7365050.85,441358.31,252063.48,0,1,0,0,0,0
1271178,0,135,1157230.76,0.00,0.00,1322284.32,2479515.08,0,0,0,0,0,1
3597790,0,263,24800.11,212814.00,188013.89,5868635.40,5868004.23,0,0,1,0,0,0
203695,0,13,7431.32,51510.63,44079.32,0.00,0.00,0,0,0,0,1,0
6288014,0,661,24667.13,16505.00,0.00,0.00,0.00,0,0,0,0,1,0

In [25]:
paysim_df_shuffled.to_csv(output_data_location_random_shuffled)

In [4]:
import boto3

#Put the prepped file to S3
s3 = boto3.client('s3')
s3.upload_file('./data.csv', 'anomaly-detection-team-vypin', 'vishal/data.csv')